.mainCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.eachCategoryWrap {
    width: 100%;
    margin-bottom: 5rem;

    .buttonLink {
        margin-top: 1rem;
        padding: 0.5rem;
        float: right;
        color: black;
        background-color: white;
        border: 1px solid var(--rootColor);
        cursor: pointer;
        border-radius: 1rem;

        &:hover {
            background-color: black;
            color: var(--rootColor);
        }
    }
}

.categoryWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 17rem 17rem;
    grid-template-areas: 
    "a b b"
    "d e f";
    grid-gap: 1rem;
    overflow: hidden;

    .categoryMainWrap {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 4fr;
        padding-right: 1rem;
        border-right: 1px solid var(--rootColor);
        grid-gap: 1rem;

        .categoryTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--rootColor);

            span {
                position: relative;
            }

            span:before{
                position: absolute;
                top: 0;
                left: -0.5rem;
                display: block;
                content: "";
                height: 1rem;
                width: 0.2rem;
                background-color: white;
            }
        }

        .categoryMain {
            position: relative;
            display: flex;
            height: 100%;
            overflow: hidden;
            background-repeat: none;
            background-size: cover;
            background-color: var(--rootColor);

            .detailsBox {
                align-self: flex-end;
                width: 100%;
                max-height: 100%;
                background-color: rgba($color: #ffffff, $alpha: 0.8);
                padding: 0.5rem;

                span {
                    font-size: 0.9rem;
                }

                p {
                    font-size: 0.7rem;
                    margin-top: 1.5rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: black;
                }
            }
        }
    }
        
    

    .categorySubOne {
        display: grid;
        grid-row: repeat(2, 1fr);
        grid-gap: 1rem;
        height: 100%;
        grid-area: d;

        .subOne {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-bottom: 1px solid var(--rootColor);

            &:not(:last-child){
                padding-bottom: 0.5rem;
            }

            .subOneTop {
                display: flex;
                width: 100%;
                height: 50%;
                overflow: hidden;

                .imageBox {
                    position: relative;
                    width: 50%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    font-size: 0.7rem;
                    padding: 0 0 0 0.2rem;
                }
            }

            .detailsBox {
                width: 100%;

                p {
                    color: var(--subFontColor);
                    margin-top: 1rem;
                    font-size: 0.7rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .categorySubTwo {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0.5rem;
        grid-area: e;
        border-right: 1px solid var(--rootColor);

        .subTwo {
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .subTwoImage {
                width: 30%;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .detailsBox {
                width: 70%;
                overflow: hidden;
                padding: 0 0.5rem 0 0.5rem;

                span {
                    font-size: 0.7rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .categorySubThree {       
        grid-area: b;

        .subThree {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 100%;
            grid-column-gap: 0.5rem;

            .subThreeLeft {
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detailsBox {
                height: 100%;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid var(--rootColor);

                span {
                    flex-grow: 1;
                    font-size: 1.4rem;
                    line-height: 1.5rem;
                }

                .text {
                    text-align: justify;
                    margin-top: 1rem;
                    display: -webkit-box;
                    color: var(--subFontColor);
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &::before {
                        content: "";
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .categorySubFour {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        background-color: var(--rootColor);
        grid-area: f;

        .subFour {
            padding: 0.5rem;
            overflow: hidden;
            width: 8rem;
            margin: 1rem;
            flex-shrink: 0;
            background-color: white;

            text-decoration: none;
            color: var(--subFontColor);

            .title:before {
                content: '"';
                font-size: 2rem;
                color: var(--rootColor);
                margin-right: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .categoryWrap {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 17rem 17rem 17rem;
        grid-template-areas: 
        "a"
        "b"
        "c";

        .categoryMainWrap {
            grid-area: a;
        }

        .categorySubOne {
            grid-area: c;
        }

        .categorySubTwo {
            display: none;
        }

        .categorySubThree {
            grid-area: b;

            a {
                font-size: 1.1rem !important;
            }

            .text {
                -webkit-line-clamp: 3 !important;
            }
        }

        .categorySubFour {
            display: none;
        }
    }
}