<div class="mainCategories">
    <div *ngFor="let category of categoryNews; let i = index" class="eachCategoryWrap">
        <div *ngIf="categoryNewsLoad[i] === 1" class="categoryWrap">
            <div class="categoryMainWrap">
                <div class="categoryTitle">
                    <span>{{category.category.toUpperCase()}}</span>
                </div>
                <a class="categoryMain" [ngStyle]="{'background-image': 'url(' + category.news[0].fields.thumbnail + ')'}"  href={{category.news[0].webUrl}} target="_blank">
                    <div class="detailsBox">
                        <span>{{category.news[0].webTitle}}</span>
                        <p>{{category.news[0].fields.trailText}}</p>
                        <div class="dateFour">{{category.news[0].date}} . {{category.news[0].month}}</div>
                    </div>
                </a>
            </div>
            <div class="categorySubOne">
                <a *ngFor="let news of category.news.slice(2, 4)" class="subOne" href={{news.webUrl}} target="_blank">
                    <div class="subOneTop">
                        <div class="imageBox">
                            <img src={{news.fields.thumbnail}}>
                            <div class="dateThree">{{news.date}} . {{news.month}}</div>
                        </div>
                        <span>{{news.webTitle}}</span>
                    </div>
                    <div class="detailsBox">
                        <p>{{news.fields.trailText}}</p>
                    </div>
                </a>
            </div>
            <div class="categorySubTwo">
                <a *ngFor="let news of category.news.slice(4, 8)" class="subTwo" href={{news.webUrl}} target="_blank">
                    <div class="subTwoImage">
                        <img src={{news.fields.thumbnail}}>
                    </div>
                    <div class="detailsBox">
                        <span>{{news.webTitle}}</span>
                    </div>
                </a>
            </div>
            <div class="categorySubThree">
                <a *ngFor="let news of category.news.slice(1, 2)" class="subThree" href={{news.webUrl}} target="_blank">
                    <div class="subThreeLeft"  [ngStyle]="{'background-image': 'url(' + news.fields.thumbnail + ')'}">
                        <!-- <img src={{news.fields.thumbnail}}> -->
                        <div class="dateTwo">{{news.date}} . {{news.month}}</div>
                    </div>
                    <div class="detailsBox">
                        <span>{{news.webTitle}}</span>
                        <p class="text">
                            {{news.fields.bodyText}}
                        </p>
                    </div>
                </a>
            </div>
            <div class="categorySubFour">
                <a *ngFor="let news of category.news.slice(8)" class="subFour" href={{news.webUrl}} target="_blank">
                    <div class="detailsBox">
                        <p class="title">{{news.webTitle}}</p>
                    </div>
                </a>
            </div>
        </div>
        <button (click)="linkClick($any($event.target).value)" value={{category.category}} class="buttonLink">more news ...</button>
    </div>
</div>