.weather-wrap {
    max-width: 100%;
    width: 15rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    background-color: var(--rootColor);
    padding: 1rem;

    .topBar {
        display: flex;
        justify-content: space-between;

        .weather {
            &Country {
                display: flex;
                justify-content: left;
                align-items: center;
            }
        
            &Time {
                text-align: center;
            }

            &Today {
                display: flex;
                justify-content: right;
            }

            &Day {
                margin-right: 0.5rem;
            }

            &Date {
                margin-right: 0.1rem;
            }
        }
    }

    .weather {
        &Info {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &FeelsLike {
            text-align: center;
            font-size: 0.6rem;
            margin-bottom: 2rem;
        }

        &City {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            flex-grow: 1;

            .mat-icon {
                font-size: 0.8rem;
                width: 0.8rem;
                height: 0.8rem;
                margin-right: 0.5rem;
            }

            .currentCountry {
                margin-left: 0.5rem;
                font-size: 0.6rem;
            }

            .locationInput {
                position: relative;
            }

            .filteredCityWrap {
                position: absolute;
                left: -3.5rem;
                top: 1.6rem;
                max-height: 10rem;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: white;
                width: 150%;
                padding: 0.5rem;
                margin: 0;
            }

            .filteredCityWrap.hideMenu {
                display: none;
            }

            .filteredCity {
                list-style-type: none;
                padding: 0.5rem;

                &.city:hover {
                    background-color: #f3f6f4;
                    cursor: pointer;
                }
            }

            .filteredCountry {
                font-size: 0.6rem;
                color: var(--subFontColor);
                margin-left: 0.5rem;
            }
        }
    }

    .weather {
        &Forecast {
            display: flex;
            overflow-x: auto;  
            font-size: 0.6rem;
            padding-bottom: 1rem;
            
            .forecastBox {
                text-align: center;
                margin-right: 1rem;
            }

            img {
                font-size: 3rem;
                width: 3rem;
                height: 3rem;
            }
        }   
    }
}

span {
    display: block;
}