.categoryPageTitle {
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 8rem;
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--rootColor);
    margin-bottom: 2rem;
}

.categoryTopNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    height: max-content;
    margin-bottom: 3rem;

    .categoryTopNewsOne {
        display: grid;
        grid-template-rows: max-content 1fr;
        border: 1px solid var(--rootColor);
        grid-gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        height: 100%;
        overflow: hidden;

        .titleBox {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: justify;
        }

        .contentBox {
            display: flex;
            flex-direction: column;
            color: var(--subFontColor);
            overflow: hidden;
            height: 100%;

            .text {
                text-align: justify;

                &::first-letter {
                    font-size: 3rem;
                    line-height: 3rem;
                    color: var(--rootColor);
                }
            }

            .imageBox {
                position: relative;
                flex-grow: 1;

                img {
                    width: 100%;
                    max-height: 15rem;
                    flex-grow: 1;
                    object-fit: cover;
                    margin: 0 1rem 1rem 0;
                }
            }
        }
    }

    .categoryTopNewsTwo {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        grid-template-rows: repeat(2, minmax(fit-content, 1fr));
        overflow: hidden;
        grid-gap: 1rem;

        .container {
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--rootColor);

            .imageBox {
                position: relative;
                width: 15rem;
                float: left;
                margin: 0 1rem 1rem 0;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .contentBox {
                .titleBox {
                    margin-bottom: 1rem;
                }

                .text {
                    margin-top: 1rem;
                    color: var(--subFontColor);
                    text-align: justify;

                    &::before {
                        content: "";
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

.categoryPageSubOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    grid-gap: 1rem;
    margin-bottom: 3rem;
    
    .subOneLeft {
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;

        .container {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 1rem;
            background-color: var(--rootColor);
            border-radius: 1rem;

            .imageBox {
                position: relative;
                width: 50%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detailsBox {
                display: flex;
                flex-direction: column;
                padding-left: 1rem;
                width: 50%;

                span {
                    flex-grow: 1;
                    margin-bottom: 1rem;
                }

                .text {
                    color: #444444;
                    text-align: justify;

                    &::before {
                        content: "";
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .subOneRight {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 1rem;
            border-left: 1px solid var(--rootColor);

            .imageBox {
                position: relative;
                width: 100%;
                height: 50%;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detailsBox {
                display: flex;
                flex-direction: column;
                height: 50%;

                span{
                    flex-grow: 1;
                }

                .text {
                    color: var(--subFontColor);
                    text-align: justify;

                    &::before {
                        content: "";
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

.categoryPageSubTwo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    width: 100%;
    grid-gap: 2rem;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .centerContainer {
        width: 17rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        border: 1px solid var(--rootColor);
        overflow: hidden;
        
        .imageBox {
            position: relative;
            height: 40%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .detailsBox {
            height: 60%;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            span {
                flex-grow: 1;
                margin-bottom: 1rem;
            }

            .text {
                color: var(--subFontColor);
                overflow: auto;
                text-align: justify;
                padding-right: 0.5rem;

                &::before {
                    content: "";
                    margin-right: 1rem;
                }
            }
        }
    }
}

.allWrap {
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}

.pageBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;

    div {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            width: 2rem;
            padding: 0.5rem;
            border-radius: 50%;
            border: none;
            background-color: var(--rootColor);

            &:not(.active) {
                cursor: pointer;
            }

            &:not(.active):hover {
                color: var(--rootColor);
                background-color: black;
            }
        }

        button.active {
            border: 1px solid var(--rootColor);
            background-color: transparent;
            color: black;
        }
    }
}

@media screen and (max-width: 800px) {
    .categoryTopNews {
        grid-template-columns: 1fr;
        height: fit-content;

        .categoryTopNewsOne .titleBox {
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: justify;
        }
    }

    .categoryPageSubOne {
        grid-template-columns: 1fr;

        .subOneLeft {
            order: 2;

            span {
                margin-bottom: 1rem;
            }
        }

        .subOneRight {
            order: 1;
        }
    }
}

@media screen and (max-width: 600px) {
    .categoryPageSubOne {
        .subOneRight {
            grid-template-columns: 1fr;

            .container {
                height: fit-content;
                border:none;

                .detailsBox {
                    span {
                        flex-grow: 0;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}